.texto_rodapé {
    position: absolute;
    width: 243px;
    height: 24px;
    left: 65px;
    top: 854px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left:18px;


    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}